* {
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
}

body,
html {
  min-height: 100vh;
  height: 100%;
  background-color: #f7f7f9;
}

img {
  max-width: 100%;
  border: none;
}

button {
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem 1.2rem;
  background-color: #e72129;
  border-radius: 2rem;
}

button:hover {
  background-color: #e72128cc;
  transition: 0.4s;
}

a {
  text-decoration: none;
  color: #000;
}
